################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/C#/LeetCodePractice/bin/
/C#/LeetCodePractice/.vs/
/C#/LeetCodePractice/obj/
