################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C#/LeetCodePractice/bin/Debug/netcoreapp2.2
/C#/LeetCodePractice/.vs/LeetCodePractice/FileContentIndex
/C#/LeetCodePractice/.vs/LeetCodePractice/DesignTimeBuild/.dtbcache.v2
/C#/LeetCodePractice/.vs/LeetCodePractice/v16/.suo
/C#/LeetCodePractice/.vs/LeetCodePractice/v17/.suo
/C#/LeetCodePractice/obj/Release/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
/C#/LeetCodePractice/obj/Release/netcoreapp2.2/LeetCodePractice.AssemblyInfo.cs
/C#/LeetCodePractice/obj/Release/netcoreapp2.2/LeetCodePractice.AssemblyInfoInputs.cache
/C#/LeetCodePractice/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
/C#/LeetCodePractice/obj/Debug/netcoreapp2.2/LeetCodePractice.assets.cache
/C#/LeetCodePractice/obj/Debug/netcoreapp2.2/LeetCodePractice.csproj.AssemblyReference.cache
/C#/LeetCodePractice/obj/Debug/netcoreapp2.2/LeetCodePractice.csproj.CoreCompileInputs.cache
/C#/LeetCodePractice/obj/Debug/netcoreapp2.2/LeetCodePractice.csproj.FileListAbsolute.txt
/C#/LeetCodePractice/obj/Debug/netcoreapp2.2/LeetCodePractice.csprojAssemblyReference.cache
/C#/LeetCodePractice/obj/Debug/netcoreapp2.2/LeetCodePractice.dll
/C#/LeetCodePractice/obj/Debug/netcoreapp2.2/LeetCodePractice.GeneratedMSBuildEditorConfig.editorconfig
/C#/LeetCodePractice/obj/Debug/netcoreapp2.2/LeetCodePractice.genruntimeconfig.cache
/C#/LeetCodePractice/obj/Debug/netcoreapp2.2/LeetCodePractice.pdb
/C#/LeetCodePractice/obj/LeetCodePractice.csproj.nuget.dgspec.json
/C#/LeetCodePractice/obj/LeetCodePractice.csproj.nuget.g.props
/C#/LeetCodePractice/obj/LeetCodePractice.csproj.nuget.g.targets
/C#/LeetCodePractice/obj/project.assets.json
/C#/LeetCodePractice/obj/project.nuget.cache
